@inject NavigationManager NavManager
@using Microsoft.AspNetCore.Components.Web

@using GameStoreWeb.Models
@using GameStoreWeb.Components

<div class="bg-white rounded-xl shadow-md hover:shadow-lg transition duration-300">
    <div style="background-size: cover;" class="mx-3 mt-3 mb-2 rounded-xl">
        <img src="@Game.ThumbnailUrl" alt="@Game.Title" class="w-full h-48 object-cover rounded-t-xl"
            style="width: 266px;height: 150px;" />
    </div>
    <div class="p-4">
        <h3 class="text-lg font-semibold">@Game.Title</h3>
        <p class="text-sm text-gray-600 truncate">@Game.Description</p>

        <ButtonComponentBlazor Type="button" Value="Play Game" OnClickUrlString="@Game.GameUrl" BgColor="48A6A7"
            OnMouseEnterBgColor="006A71" AdditionalStyleTags="margin-left: 50px;margin-right: 50px;" />
    </div>
</div>

@code {
    [Parameter]
    public GameReadDto Game { get; set; }
}
