@model GameStoreWeb.Models.GameStoreViewModel;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h4>GameSummary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.GameSummary.name" class="control-label"></label>
                <input asp-for="@Model.GameSummary.name" class="form-control" />
                <span asp-validation-for="@Model.GameSummary.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.GameSummary.genre" class="control-label"></label>
                @Html.DropDownListFor(x => x.GenreModel.Id, new SelectList(Model.GenreModel.Genres, "Value", "Text"),
                new { @class = "date form-control" })
                @* <span asp-validation-for="@Model.gameSummary.name" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="@Model.GameSummary.price" class="control-label"></label>
                <input asp-for="@Model.GameSummary.price" class="form-control" />
                <span asp-validation-for="@Model.GameSummary.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.GameSummary.releaseDate" class="control-label"></label>
                <input asp-for="@Model.GameSummary.releaseDate" class="form-control" />
                <span asp-validation-for="@Model.GameSummary.releaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <input type="submit" value="Create" class="btn" style="background-color: #48A6A7;" /> *@
                <input type="submit" value="Create" style="background-color: #48A6A7;"
                    onmouseover="this.style.backgroundColor='#006A71'; this.style.color='white';"
                    onmouseleave="this.style.backgroundColor='#48A6A7'; this.style.color='black';"
                    class="btn btn-border-radius-lg" />
            </div>
        </form>
    </div>
</div>

<div>
    <input type="button" value="Back to list" onclick="location.href='@Url.Action("Index", "GameSummary")'"
        style="background-color: #48A6A7;" onmouseover="this.style.backgroundColor='#006A71'; this.style.color='white';"
        onmouseleave="this.style.backgroundColor='#48A6A7'; this.style.color='black';"
        class="btn btn-border-radius-lg" />
</div>

<script type="text/javascript">
    $(".date").datepicker({
        format: "yyyy-MM-dd",
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
