@model GameStoreWeb.Models.GameSummary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameSummary</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.releaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.releaseDate)
        </dd>
    </dl>
</div>
<div>
    <component type="typeof(GameStoreWeb.Components.ButtonComponent)" render-mode="ServerPrerendered"
        param-Type='@("button")' param-Value='@("Edit")'
        param-OnClickUrlString='@($"location.href=\'{Url.Action("Edit", "GameSummary")}\';")'
        param-BgColor='@("48A6A7")' param-OnMouseEnterBgColor='@("006A71")' /> |
    @* <input type="button" value="Edit"
        onclick="location.href='@Url.Action("Edit", "GameSummary", new { id = Model.id })'"
        style="background-color: #48A6A7;" onmouseover="this.style.backgroundColor='#006A71'; this.style.color='white';"
        onmouseleave="this.style.backgroundColor='#48A6A7'; this.style.color='black';"
        class="btn btn-border-radius-lg" /> | *@
    <component type="typeof(GameStoreWeb.Components.ButtonComponent)" render-mode="ServerPrerendered"
        param-Type='@("button")' param-Value='@("Back to List")'
        param-OnClickUrlString='@($"location.href=\'{Url.Action("Index", "GameSummary")}\';")'
        param-BgColor='@("48A6A7")' param-OnMouseEnterBgColor='@("006A71")' />
    @* <input type="button" value="Back to List" onclick="location.href='@Url.Action("Index", "GameSummary")'"
        style="background-color: #48A6A7;" onmouseover="this.style.backgroundColor='#006A71'; this.style.color='white';"
        onmouseleave="this.style.backgroundColor='#48A6A7'; this.style.color='black';"
        class="btn btn-border-radius-lg" /> *@
</div>
