@model GameStoreWeb.Models.GameStoreViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GameSummary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.GameDetails.Name" class="control-label"></label>
                <input asp-for="@Model.GameDetails.Name" class="form-control" />
                <span asp-validation-for="@Model.GameDetails.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.GameDetails.GenreId" class="control-label"></label>
                @Html.DropDownListFor(x => x.GameDetails.GenreId, new SelectList(Model.GenreModel.Genres, "Value",
                "Text"), new { @class = "date form-control" })
                @* <span asp-validation-for="@Model.gameSummary.name" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="@Model.GameDetails.Price" class="control-label"></label>
                <input asp-for="@Model.GameDetails.Price" class="form-control" />
                <span asp-validation-for="@Model.GameDetails.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.GameDetails.ReleaseDate" class="control-label"></label>
                <input asp-for="@Model.GameDetails.ReleaseDate" class="form-control" />
                <span asp-validation-for="@Model.GameDetails.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <component type="typeof(GameStoreWeb.Components.ButtonComponent)" render-mode="Server"
                    param-Type='@("submit")' param-Value='@("Save")' param-BgColor='@("48A6A7")'
                    param-OnMouseEnterBgColor='@("006A71")' />
            </div>
        </form>
    </div>
</div>
<div>
    <component type="typeof(GameStoreWeb.Components.ButtonComponent)" render-mode="ServerPrerendered"
        param-Type='@("button")' param-Value='@("Back to List")'
        param-OnClickUrlString='@($"location.href=\'{Url.Action("Index", "GameSummary")}\';")'
        param-BgColor='@("48A6A7")' param-OnMouseEnterBgColor='@("006A71")' />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
