@model IEnumerable<GameStoreWeb.Models.GameSummary>;

@{
    ViewData["Title"] = "Games List";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<p>
    <component type="typeof(GameStoreWeb.Components.ButtonComponent)" render-mode="ServerPrerendered"
        param-Type='@("button")' param-Value='@("Create")'
        param-OnClickUrlString='@($"location.href=\'{Url.Action("Create", "GameSummary")}\';")'
        param-BgColor='@("48A6A7")' param-OnMouseEnterBgColor='@("006A71")' />

    @* <input type="button" value="Create" onclick="location.href='@Url.Action("Create", "GameSummary")'"
        style="background-color: #48A6A7;" onmouseover="this.style.backgroundColor='#006A71'; this.style.color='white';"
        onmouseleave="this.style.backgroundColor='#48A6A7'; this.style.color='black';"
        class="btn btn-border-radius-lg" />*@
</p>

@{
    if (TempData["inserted_message"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Great!</strong> @TempData["inserted_message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["updated_message"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Amazing!</strong>@TempData["updated_message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["alert_message"] != null)
    {
        <div class="alert alert-warning bg-danger alert-dismissible fade show" role="alert">
            <strong>Oh no!</strong>@TempData["alert_message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["delete_message"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Success!</strong>@TempData["delete_message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    <component type="typeof(GameStoreWeb.Components.ButtonComponent)" render-mode="ServerPrerendered"
                        param-Type='@("button")' param-Value='@("Edit")'
                        param-OnClickUrlString='@($"location.href=\'{Url.Action("Edit", "GameSummary", new { id = item.id })}\';")'
                        param-BgColor='@("48A6A7")' param-OnMouseEnterBgColor='@("006A71")' /> |
                    <component type="typeof(GameStoreWeb.Components.ButtonComponent)" render-mode="ServerPrerendered"
                        param-Type='@("button")' param-Value='@("Details")'
                        param-OnClickUrlString='@($"location.href=\'{Url.Action("Details", "GameSummary", new { id = item.id })}\';")'
                        param-BgColor='@("48A6A7")' param-OnMouseEnterBgColor='@("006A71")' /> |
                    <component type="typeof(GameStoreWeb.Components.ButtonComponent)" render-mode="ServerPrerendered"
                        param-Type='@("button")' param-Value='@("Delete")'
                        param-OnClickUrlString='@($"location.href=\'{Url.Action("Delete", "GameSummary", new { id = item.id })}\';")'
                        param-BgColor='@("F7374F")' param-OnMouseEnterBgColor='@("88304E")' />
                </td>
            </tr>
        }
    </tbody>
</table>
