@using GameStoreWeb.Models.ComponentModels;
@model IEnumerable<GameStoreWeb.Models.GameSummary>;

@{
    ViewData["Title"] = "Games List";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<p>
    @* @await Html.Partial("_Button", new ButtonViewModel {
    Value = "Click Me",
        ActionName = "btn btn-primary",
        ControllerName = "alert('Hello!')",
        StyleProps = "btnClickMe"
        }) *@
    <input type="button" value="Create" onclick="location.href='@Url.Action("Create", "GameSummary")'"
        style="background-color: #48A6A7;" onmouseover="this.style.backgroundColor='#006A71'; this.style.color='white';"
        onmouseleave="this.style.backgroundColor='#48A6A7'; this.style.color='black';"
        class="btn btn-border-radius-lg" />
</p>

@{
    if (TempData["inserted_message"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Great!</strong> @TempData["inserted_message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["updated_message"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Amazing!</strong>@TempData["updated_message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["alert_message"] != null)
    {
        <div class="alert alert-warning bg-danger alert-dismissible fade show" role="alert">
            <strong>Oh no!</strong>@TempData["alert_message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["delete_message"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Success!</strong>@TempData["delete_message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    <input type="button" value="Edit"
                        onclick="location.href='@Url.Action("Edit", "GameSummary", new { id = item.id })'"
                        style="background-color: #48A6A7;"
                        onmouseover="this.style.backgroundColor='#006A71'; this.style.color='white';"
                        onmouseleave="this.style.backgroundColor='#48A6A7'; this.style.color='black';"
                        class="btn btn-border-radius-lg" /> |
                    <input type="button" value="Details"
                        onclick="location.href='@Url.Action("Details", "GameSummary", new { id = item.id })'"
                        style="background-color: #48A6A7;"
                        onmouseover="this.style.backgroundColor='#006A71'; this.style.color='white';"
                        onmouseleave="this.style.backgroundColor='#48A6A7'; this.style.color='black';"
                        class="btn btn-border-radius-lg" /> |
                    <input type="button" value="Delete"
                        onclick="location.href='@Url.Action("Delete", "GameSummary", new { id = item.id })'"
                        style="background-color: #F7374F;"
                        onmouseover="this.style.backgroundColor='#88304E'; this.style.color='white';"
                        onmouseleave="this.style.backgroundColor='#F7374F'; this.style.color='black';"
                        class="btn btn-border-radius-lg" />
                </td>
            </tr>
        }
    </tbody>
</table>
